#toolBar {
    height: 40px;
    width: 100%;
    box-sizing: border-box;
}

/*St:Propertiestbar*/
#propertiesSideBar {
    height: 635px;
    width: 25%;
    float: left;
    box-sizing: border-box;
}

.propInput {
    width: 80%;
    padding-right: 10px;
}

.propInput input {
    width: 50%;
}

#componentPropertiesBar {
    padding: 10px;
    width: 100%;
    height: 50%;
    float: left;
    box-sizing: border-box;
    overflow-y: scroll;
}

#layersBar {
    width: 100%;
    height: 45%;
    float: left;
    box-sizing: border-box;
    overflow-y: scroll;
}

#layerToolBar {
    width: 100%;
    height: 5%;
    float: left;
}

.layer {
    width: 100%;
    height: 50px;
    background: #2196F3;
}

.indicator {
    width: 50px;
    height: 10px;
    background-color: black;
}

/*Ed:Propertiestbar*/
.component {
    padding: 10px;
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    text-align: center;
    border: 1px solid #d3d3d3;
    resize: both;
    overflow: auto;
    box-sizing: border-box;
    min-width: 30px;
    min-height: 30px;
}

.componentheader {
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
}

/*St: mapping and base*/
#mappingBoard {
    height: 635px;
    width: 75%;
    float: left;
    border: 2px solid rgba(240, 240, 240, 0.452);
    box-sizing: border-box;
    position: relative;
    background-color: rgb(240, 240, 240);
    overflow: auto;
}

#base {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    border: 1.2px solid gray;
    overflow: hidden;
    position: absolute;
}

.mapping {
    position: absolute;
    width: 10px;
    height: 10px;
    border: 1.2px solid rgb(0, 140, 255);
}

/*Ed: mapping and base*/

#baseConfig {
    padding: 10px;
    position: absolute;
    background-color: white;
    border: 1px solid gray;
    top: 50%;
    left: 50%;
    grid-gap: 10px;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 150px;
    display: grid;
    grid-template-columns: auto auto auto;
}

#baseConfig input{
    grid-column-start: 2;
    grid-column-end: 4;
}

#baseConfigName{
    font-size: large;
    font-weight:bolder;
    grid-column-start: 1;
    grid-column-end: 3;
}