#header {
    height: 40px;
    box-sizing: border-box;
    width: 100%;
}

#projectName{
    width: 20%;
    float: left;
}

#userInfo{
    width: 20%;
    float: right;
}
#menu{
    float: left;
    height: 40px;
    width: 60%;
    box-sizing: border-box;
}

.menuItem{
    height: 100%;
    width: 33%;
    float: left;
    background-color: #2196F3;
    text-align: center;
    cursor: pointer;
}

#mainContent > div {
    width: 99.5%;
    position: absolute;
}
